a img {
    border: none;
}

.br {
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    overflow: hidden;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul, ol {
    margin-bottom: 30px;
    counter-reset: item;
}

li {
    margin-top: 5px;
    padding-left: 40px;
}

li:before {
    display: inline-block;
    float: left;
    vertical-align: baseline;
    margin-left: -21px;
}

ul li:before {
    content: "\2014";
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
}

.pos-r {
    position: relative;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.tt-u {
    text-transform: uppercase;
}