
@import "reset.css";
@import "prestyles.css";
@import "fotorama.css";

*{
  -webkit-text-size-adjust: none; /*фиксим баг в IOS cо шкалированием в landscape*/
  outline: none; /*убираем рамку вокруг ссылок и кнопок*/
  -webkit-touch-callout: none; /*если надо, то запрещаем выделение текста*/
  -webkit-tap-highlight-color:rgba(0,0,0,0); /*убираем фон подсветки ссылок и кнопок*/
  -webkit-appearance: none; /*убираем стили форм iOS*/
  background-color: inherit;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_0_0.eot");
  src: url("../fonts/320D2B_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_0_0.woff2") format("woff2"), url("../fonts/320D2B_0_0.woff") format("woff"), url("../fonts/320D2B_0_0.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_1_0.eot");
  src: url("../fonts/320D2B_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_1_0.woff2") format("woff2"), url("../fonts/320D2B_1_0.woff") format("woff"), url("../fonts/320D2B_1_0.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_2_0.eot");
  src: url("../fonts/320D2B_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_2_0.woff2") format("woff2"), url("../fonts/320D2B_2_0.woff") format("woff"), url("../fonts/320D2B_2_0.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Kazimir Text";
  src: url("../fonts/Kazimir Text-Regular-Web.eot");
  src: url("../fonts/Kazimir Text-Regular-Web.eot#iefix") format("embedded-opentype"), url("../fonts/Kazimir Text-Regular-Web.woff2") format("woff2"), url("../fonts/Kazimir Text-Regular-Web.woff") format("woff"), url("../fonts/Kazimir Text-Regular-Web.ttf") format("truetype"), url("../fonts/Kazimir Text-Regular-Web.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kazimir Text";
  src: url("../fonts/Kazimir Text-Bold-Web.eot");
  src: url("../fonts/Kazimir Text-Bold-Web.eot#iefix") format("embedded-opentype"), url("../fonts/Kazimir Text-Bold-Web.woff2") format("woff2"), url("../fonts/Kazimir Text-Bold-Web.woff") format("woff"), url("../fonts/Kazimir Text-Bold-Web.ttf") format("truetype"), url("../fonts/Kazimir Text-Bold-Web.svg#font") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* variables */

@red: #ee3b35;
@blue: #172a45;
@bluel: #008aad;
@gray: #9099a7;
@graybd: #bdc3cc;
@graybg: #eef0f2;
@grayvis: #6c727a;
@footbd: #525252;
@black: #262626;

.link(@color) {
  color:@color;

  &:before {
    border-color:lighten(@color, 30%);
  }
  
}

/* mixins */

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

/* styles */

html {
  min-height: 550px;
}

body {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  font-family: "Kazimir Text", Georgia, "Times New Roman", serif;
  position: relative;
}

.ff-ss {
  font-family: "Museo Sans", sans-serif;
}

.ff-s {
  font-family: "Kazimir Text", serif;
}

sup {
  font-size: 0.55em;
  line-height: 2.1em;
  font-weight: 400;
  vertical-align: top;
}

a, .link {
  color: @blue;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: @grayvis;
  }

  &:hover, &:visited:hover, &.hover {
    color: @bluel;
    text-decoration: none;

    .svg {
      fill: @bluel;
    }
  }

  &.td-u {

    span {
      display: inline-block;
      border-bottom: 1px solid @graybd;
      line-height: 0.9em;
    }

    &:hover {

      span {
        border-bottom: 1px solid #b2dce6;
      }
    }
  }

  &.dashed {
    text-decoration: none;

    span {
      display: inline-block;
      border-bottom: 1px dashed;
    }

    &:hover {
      text-decoration: none;

      span {
        border-bottom: 1px dashed;
      }
    }
  }

  &.dotted {
    display: inline-block;
    text-decoration: none;

    span {
      border-bottom: 1px dotted;
    }

    &:hover {
      text-decoration: none;

      span {
        border-bottom: 1px dotted;
      }
    }
  }
}

h1 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  font-family: "Museo Sans", sans-serif;
}

h2 {
  margin: 68px 0 12px 0;
  padding: 0;
  font-size: 30px;
  line-height: 35px;
  font-weight: 900;
  font-family: "Museo Sans", sans-serif;
}

h3 {
  margin: 40px 0 19px 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
  font-family: "Museo Sans", sans-serif;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

.banner {
  padding: 20px 15px;
  background: #eef0f2;

  a {
    display: block;
    width: 970px;
    margin: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.date {
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color:@blue;
  font-size: 9px;
}

.spacer {
  height: 52px;
}

.b-input {
  padding: 0 21px;

  input {
    width: 100%;
    margin: 0 -21px;
    padding: 14px 20px 11px 20px;
    border: 1px solid @graybd;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    font-family: "Museo Sans", sans-serif;

    &:focus, &:active {
      border-color: #fca000;
    }
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 14px 12px 10px 12px;
  border: 3px solid @blue;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  font-family: "Museo Sans", sans-serif;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:visited {
    color: #000000;
  }

  &:hover {
    border-color: @bluel;
    color: #000000;
    text-decoration: none;
  }

  &:active {
    margin-top: 1px;
    margin-bottom: -1px;
  }

  a& {
    text-decoration: none !important;
  }
}

.bd {
  position: relative;

  &:before {
    display: block;
    content: " ";
    width: 1px;
    background: @graybd;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &.bd-nol:before {
    display: none;
  }

  &:after {
    display: block;
    content: " ";
    width: 1px;
    background: @graybd;
    position: absolute;
    top: 0;
  }

  &.bd-nor:after {
    display: none;
  }

  &-1111 {

    &__bd {
      display: block;
      width: 1px;
      background: @graybd;
      position: absolute;
      top: 28px;
      bottom: 0;
      left: 50%;

      .bd-noc & {
        display: none;
      }
    }
  }

  &-221 {
    overflow: hidden;

    &:before {
      left: 445px !important;
    }

    &:after {
      left: 910px !important;
    }
  }

  &-ov, &-ov .b-section__title {

    &:before, &:after, .bd-1111__bd {
      top: 90px !important;
    }
  }

  &-50:before {
    left: 50% !important;
  }

  &-50:after {
    display: none;
  }

  &-trans:before {
    top: 90px !important;
    left: 280px !important;
  }

  &-trans:after {
    top: 90px !important;
    left: 580px !important;
  }

  &-3:before {
    left:393px !important;

    @media (max-width:1309px) {
      left:300px !important;
    }

    @media (max-width:1019px) {
      left:212px !important;
    }
  }

  &-top:before, &-top:after {
    top:26px !important;
  }

  &-3:after {
    right:393px !important;

    @media (max-width:1309px) {
      right:300px !important;
    }

    @media (max-width:1019px) {
      right:212px !important;
    }
  }

  &-rb:after {
    right:320px !important;

    @media (max-width:1309px) {
      right:320px !important;
    }

    @media (max-width:1019px) {
      display: none !important;
    }
  }

  &-day {
    &:before, &:after {
      @media (max-width:1019px) {
        z-index:-2;
      }
    }
  }
}

.hl {
  background: #ffde00;
  padding: 4px 2px 1px 2px;
}

.pad {

  &-l {
    padding-right: 0 !important;
    padding-left: 20px;
  }

  &-r {
    padding-right: 20px;
    padding-left: 0 !important;
  }
}

.nom {
  margin: 0 !important;
}

.nopad {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nopad-l {
  padding-left:0 !important;
}

.nobd {
  border: none !important;
}

&.bd-0 {
  margin-top: -1px;
  border-top: 1px solid @graybd !important;

  &:before, &:after, .bd-1111__bd {
    top: 0 !important;
  }
}

.tab, .mob {
  display: none !important;
}

.mob-hide {
  @media (max-width:739px) {
    display: none;
  }
}

.l-page {
  min-width: 320px;
}

.l-wrap {
  width: 1200px;
  margin: auto;
  padding: 0 40px;
  overflow: hidden;
}

.b-head {
  margin-bottom: 40px;
  padding-top: 28px;
  border-bottom: 3px solid @blue;
  position: relative;
  overflow: hidden;

  &__search {
    float: right;
    height: 39px;

    span {
      cursor: pointer;

      .svg {
        fill: @blue;
      }

      &:hover {

        .svg {
          fill: @bluel;
        }
      }
    }

    &__form {
      background: #ffffff;
      position: absolute;
      top: -55px;
      right: 0;
      left: 50px;
      z-index: 1;
      -webkit-transition: top 500ms;
      transition: top 500ms;

      &.active {
        top: 17px;
      }

      &__field {
        margin-right: 45px;
        padding: 0 51px 0 21px;

        input {
          margin: 0 -51px 0 -21px;
          padding: 10px 50px 10px 20px;
        }
      }

      &__submit {
        position: absolute;
        top: 12px;
        right: 65px;
      }

      &__close {
        background: #ffffff;
        position: absolute;
        top: 12px;
        right: 0;
      }
    }
  }

  &__menu {
    float: left;
    height: 39px;

    span {
      cursor: pointer;

      .svg {
        fill: @blue;
      }

      &:hover {

        .svg {
          fill: @bluel;
        }
      }
    }
  }

  &__logo {
    height: 47px;
    margin-top: -6px;
    text-align: center;
    position: relative;
    overflow: hidden;

    a {
      display: inline-block;
      vertical-align: top;
      width: 172px;
      height: 36px;
      border: none;
      color: @blue;

      img {
        display: block;
        width: 172px;
        height: 36px;
        margin: 0;
        padding: 0;
      }

      .svg, .cls-1 {
        width: 172px;
        height: 36px;
        fill: @blue;
      }

      &:hover {
        border: none;

        .svg, .cls-1 {
          fill: @bluel;
        }
      }
    }

    span {
      display: inline-block;
      vertical-align: top;
      width: 100px;
      margin-top: 5px;
      margin-left: 16px;
      padding-left: 16px;
      color: @blue;
      font-size: 10px;
      line-height: 14px;
      text-align: left;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      position: relative;

      &:before {
        display: inline-block;
        content: " ";
        width: 1px;
        height: 30px;
        background: @gray;
        position: absolute;
        top: -1px;
        left: 0;
      }
    }
  }

  &__categories {
    border-top: 1px solid @graybd;
    font-size: 18px;
    line-height: 25px;
    font-weight: 900;
    text-align: center;

    a, span {
      display: inline-block;
      margin: 0 13px;
      padding: 19px 0 13px 0;
      border: none;
      color: @blue;
      text-decoration: none;

      &:hover {
        color: @bluel;
      }
    }

    .active {
      margin-top: -1px;
      padding-top: 17px;
      border-top: 3px solid;

      &.disabled {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

.b-title {
  margin: -5px 0 35px 0;

  &__userpic {
    float: left;
    width: 150px;
    margin-right: 30px;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  &__text {
    overflow: hidden;

    h1 {
      margin-bottom: 10px;
    }
  }
}

.b-list {

  &__banner {
    float: right;
    width: 300px;
    height: 600px;
    margin-left: 40px;
    /*background: url("../i/blockedban.jpg") no-repeat 100% 0;*/
    -webkit-background-size: 300px 600px;
    background-size: 300px 600px;


    img {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__view {
    @media (min-width:740px) {
      overflow: hidden;
    }
  }

  &__title {
    margin: 0 0 13px 0;


  }

  &__section {
    margin-top: -2px;
    border-top: 2px solid @blue;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;

    .b-list_feed & {
      border-top: none;
    }

    a {
      border: none;
      text-decoration: none;

      &:hover {
        border: none;
        text-decoration: none;
      }
    }

    &__title {
      float: left;
      width: 100px;
      margin-right: 20px;
      padding-top: 24px;
      color: @gray;
    }

    &__items {
      @media (min-width:740px) {
        overflow: hidden;
      }

      &_last-item-0 &__one:last-child {
        border-bottom:0 !important;
      }

      &__one {
        padding: 24px 0 11px;
        border-bottom: 1px solid @graybd !important;
        clear: both;
        overflow: hidden;

        .b-list_feed & {
          padding-bottom:24px;
          position: relative;
          display: block;

          @media (max-width:739px) {
            padding-top:15px;
            padding-bottom:5px;
          }
        }

        &__image {
          float: right;
          width: 135px;
          margin: -4px 0 0 20px;
          padding-bottom: 8px;

          img {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
          }

          .b-list_feed & {
            float:left;
            margin-left:0;
            margin-right:20px;
            width:178px;
            padding-bottom: 0;
            margin-top: 0;
            min-height: 1px;
            overflow: hidden;
            position: relative;

            @media (max-width:739px) {
              width:100px;
              float: right;
              margin-right: 0;
              margin-left:10px;
            }
          }

          .b-list_feed & a:hover:before, .b-list_feed & a.hover:before {
            display: block;
            content: " ";
            background: rgba(23, 42, 69, 0.30);
            position: absolute;
            z-index: 10;
            width:100%;
            height: 100%;
          }
        }

        &__text {
          overflow: hidden;

          .b-list_feed & {
            @media (min-width:1310px) {
              padding-right: 150px;
            }

            @media (max-width:739px) {
              overflow: visible;
              line-height: 1.154 !important;
            }
          }
        }

        &__date {
          margin-top: 10px;

          .b-list_feed & {
            position: absolute;
            bottom: 20px;

            @media (max-width:739px) {
              position: relative;
              bottom: 0;
            }
          }

          & span {
            margin:0 6px;
          }

          
        }

        &__descr {
          padding-top: 5px;
          font-size: 15px;
          line-height: 20px;
          font-weight: 400;

          @media (max-width:739px) {
            font-size: 13px;
            line-height: 1.2 !important;
          }
        }

        &__link {
          display: block;
        }
      }
    }
  }

  &__form {
    margin-bottom: 40px;

    &__btn {
      float: right;
      margin-left: 10px;

      .btn {
        padding-right: 39px;
        padding-left: 39px;
      }
    }

    &__field {
      overflow: hidden;
    }
  }
}

.b-news {

  &__banner {
    float: right;
    width: 300px;
    height: 600px;
    margin-left: 40px;
    /*background: url("../i/blockedban.jpg") no-repeat 100% 0;*/
    -webkit-background-size: 300px 600px;
    background-size: 300px 600px;

    img {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__view {
    overflow: hidden;
  }

  &__title {
    margin: 0 0 17px 0;
  }

  &__date {
    margin-bottom: 21px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;

    p {
      margin-bottom: 15px;
    }
  }

  .b-article__info_bottom {
    margin-top: 51px;
  }

  &__share {
    padding-top: 10px;
    color: @blue;
  }
}

.b-category {

  &__top {
    border-bottom: 1px solid @graybd;

    &:before {
      right: 319px;
    }

    &_index {
      overflow: hidden;
      display: flex;
      padding-top:10px;

      &:before {
        display: none;

      }

      @media (max-width:1019px) {
        flex-wrap:wrap;
      }

      @media (max-width:739px) {
        display: block;
        overflow: visible;
      }



    }

    &__banner, &__rightcol, &__leftcol {
      float: right;
      width: 300px;
      height: 600px;
      padding: 0 0 19px 20px;
      /*background: url("../i/blockedban.jpg") no-repeat 100% 0;*/
      -webkit-background-size: 300px 600px;
      background-size: 300px 600px;
      background-position: 20px 0; 

      a {
        display: block;
      }

      img {
        display: block;
      }

      .b-category__top_index & {
        position: relative;
        height: auto;
        min-height: 1px;
        overflow: hidden;
        padding:0;
        width:290px;
        order:3;
        border-left:1px solid @graybd;

        @media (max-width:1309px) {
          width:239px;
        }

        @media (max-width:739px) {
          width:100%;
          border:none !important;
        }


        & .b-section__one {

          .date a {
            display: inline !important;
            
          }

          @media (max-width:739px) {
            font-size:13px !important;
          }

          &:last-child {
            @media (max-width:739px) {
              border-bottom: 1px solid @graybd;
            }
          }

          &__title {
            @media (max-width:739px) {
              font-size:14px !important;
            }
          }

          &__image {
            @media (max-width:739px) {
              width:100px;
              float:right;
              margin-left:10px;
            }
          }


        }


      }
    }

    &__leftcol {
      float: left !important;
      order:1 !important;
      border-left: 0 !important;
      border-right:1px solid @graybd !important;
      margin-right:20px;

      & .b-section__one__title {
        font-size: 24px;
        line-height: 1.083;

        @media (max-width:1019px) {
          line-height: 1.167;
          font-size: 18px;
        }
      }

      & .b-section__one__image {
        margin-bottom: 15px;
        margin-top:0;
      }

      & .b-section__one:first-child {
        height:~"calc( (100% - 200px)/2 + 175px )";
        top:0;
        position: absolute;

        @media (max-width:1309px) {
          position: relative;
          height: auto;
        }

        @media (max-width:739px) {
          margin-top:25px !important;
        }
      }

      & .b-section__one:last-child {
        height:~"calc( (100% - 200px)/2 )";
        bottom:0;
        position: absolute;

        @media (max-width:1309px) {
          position: relative;
          height:auto;
        }

        @media (max-width:739px) {
         border-bottom: 1px solid @graybd !important;
       }

       & .b-section__one__image {
        display: none;

        @media (max-width:1309px) {
          display: block;
        }

        @media (max-width:1019px) {
          display: none;
        }

        @media (max-width:739px) {
          display: block;
        }


      }
    }

    & .b-section__one {
      @media (max-width:1019px) {
        padding-bottom:60px;
      }
    }


  }

  &__rightcol {
    @media (max-width:1019px) {
      width:100% !important;
      border-top:1px solid @graybd;
      border-left: none !important;
    }

    & .b-section {
      @media (min-width:740px) and (max-width:1019px) {
        display: flex;
        flex-wrap:wrap;
      }

      &:before {
        @media (min-width:740px) and (max-width:1019px) {
          left:328px !important;
          content: '';
          display: block;
          width: 1px;
          background: @graybd;
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }

    }

    & .b-section__one_index {
      @media (max-width:1019px) {
        width:50% !important;
        padding-bottom:50px;
      }

      @media (max-width:739px) {
        width:100% !important;
      }



      &:nth-child(odd) {
        @media (max-width:1019px) {
          padding-left: 0;
          padding-right: 20px !important;
        }

        & .date {
         @media (max-width:1019px) {
          padding-left: 0;
        }
      }

    }

    &:nth-child(3) {
      @media (min-width:740px) and (max-width:1019px) {
        border:none;
      }


    }
  }
}


&__item {
  padding: 0 20px 45px 0;
  overflow: hidden;

  .b-category__top_index & {
    width: ~"calc(100% - 622px)";
    float: left;
    position: relative;
    order:2;
    text-align: center !important;
    padding-bottom: 0;


    @media (max-width:1309px) {
      width: 460px;
    }

    @media (max-width:1019px) {
      width:400px;
      padding-right: 0;
    }

    @media (max-width:739px) {
      width: ~"calc(100% + 40px)";
      float:none;
      padding-bottom: 0;
    }
  }

  a {
    display: block;
  }

  .date a {
    display: inline !important;
    
  }

  &__image {
    display: block;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }

    &__label {
      display: block;
      padding: 3px 16px 1px 15px;
      background: rgba(23, 42, 69, 0.50);
      color: #ffffff;
      font-size: 12px;
      line-height: 19px;
      font-weight: 900;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      position: absolute;
      top: 15px;
      left: 10px;
    }
  }

  &__text {
    display: block;
    max-width: 520px;
    padding: 30px 20px 45px 20px;
    background: @graybg;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    right: 10px;
    bottom: 29px;
    left: 10px;

    .b-category__top_index & {
      padding:0px 0px 40px 0px;
      right:40px;
      left:20px;
      bottom:35px;
      background: fade(@graybg, 95%);
      position: relative;
      margin-top: -45px;
      box-sizing: border-box;
      width:~"calc(100% - 40px)";

      @media (max-width:1309px) {
        
        padding-bottom: 110px;
        margin-top: 8px;
      }

      @media (max-width:1019px) {
        right:20px;
        padding-bottom: 90px;
        margin-top:-2px;
      }

      @media (max-width:739px) {
        position: relative;
        margin:0 10px;
        left:0;
        right:0;
        box-sizing: border-box;
        padding-bottom: 80px;
        max-width:100%;
        width:~"calc(100% - 20px)";
        margin-top: 5px;
      }

      &__link {
        padding:55px 55px 0px 55px;

        @media (max-width:1309px) {
          padding-left:30px;
          padding-right: 30px;
        }

        @media (max-width:1019px) {
          padding-top:45px;
        }

        @media (max-width:739px) {
          padding-left:30px;
          padding-right:30px;
          padding-top:25px;
        }
      }
    }

    &__title {
      display: block;
      margin-bottom: 8px;
      font-size: 30px;
      line-height: 30px;
      font-weight: 900;

      .b-category__top_index & {
        font-size: 30px;
        margin-bottom:20px;
        line-height: 1;

        @media (max-width:1309px) {
          font-size:30px;
        }

        @media (max-width:1019px) {
          font-size:30px;
          line-height: 1.067;
        }

        @media (max-width:739px) {
          font-size: 22px;
          line-height: 1.136;


        }


      }
    }

    &__date {
      display: block;
      position: absolute;
      bottom: 13px;
      left: 20px;

      .b-category__top_index & {
        position: relative;
        margin:0 auto;
        bottom: 0;
        left:0;

        *:hover & {
          color:inherit;
        }

        @media (max-width:1309px) {
          margin-top:15px;
        }


      }

      & span {
        margin:0 6px;
      }
    }

    &__hand {
      padding:30px 0;
      margin:0 auto;
      display: block;
      fill: @blue;
      width:53px;

      .b-category__top__item a:hover & {
        fill: @bluel;
      }

      @media (max-width:1309px) {
        padding:0;
        position: absolute;
        bottom: 60px;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
      }

      @media (max-width:1019px) {
        bottom:45px;
      }

      @media (max-width:739px) {
        bottom:40px;
      }

    }
  }
}
}
}

.b-items {

  &__one {
    display: block;
    float: left;
    width: 270px;
    margin-left: -1px;
    padding: 24px 20px 42px 20px;
    border-left: 1px solid @graybd;
    border-bottom: 1px solid @graybd;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    position: relative;

    &:hover {
      border-color: @graybd;
      text-decoration: none;
    }

    &.pad-r {
      margin-left: 0;
      border-left: none;
    }

    &_2 {
      width: 580px;
    }

    &__title {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 900;

      &_big {
        font-size: 30px;
        line-height: 30px;
      }
    }

    &__date {
      display: block;
      position: absolute;
      bottom: 11px;
      left: 20px;

      .b-items__one_l & {
        left: 0;
      }
    }
  }
}

.b-sections {

  &:before {
    top: 26px;
    left: 290px;
  }

  &__left {
    float: left;
    width: 270px;
  }

  &__right {
    float: right;
    width: 890px;

    .spacer {
      height: 51px;
    }
  }

  .b-section__one {
    padding-bottom: 35px;
  }

  &-nav {

    .b-section {
      float: left;
      width: 425px;
      padding: 0 20px;
      border-bottom: none;
      position: relative;

      &:before {
        top: 26px;
        left: 0;
      }

      &:after {
        top: 26px;
        right: -1px;
      }

      &_25 {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;

        &:before {
          display: none;
        }
      }

      &_15 {
        width: 270px;
        padding-right: 0;
        margin-right: 0;

        &:after {
          display: none;
        }

        .b-section__one__title {
          font-size: 15px;
          line-height: 20px;
        }
      }

      &__one {
        width: auto;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

.b-section {
  border-bottom: 1px solid @graybd;

  &:before {
    top: 28px;
    left: 290px;
  }

  &:after {
    top: 28px;
    right: 289px;
    bottom: 0;
  }

  &.nom:before, &.nom:after  {
    top:0 !important;
  }

  &_top-image &__one__image {
    margin-top:0 !important;
  }

  &_play {
    &:before {
      left:600px;

      @media (max-width:1309px) {
        left:460px !important;
      } 

      @media (max-width:1019px) {
        left:328px !important;
      } 


    }

    &:after {
      @media (max-width:1019px) {
        display: none !important
      } 
    }
  }

  &__title {
    border-bottom: 2px solid @blue;
    font-size: 14px;
    line-height: 26px;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    a {
      border: none;
      text-decoration: none;

      &:visited {
        color: @blue;
      }

      &:hover {
        border: none;
        text-decoration: none;
      }
    }
  }

  &__topic {
    font-size: 45px;
    font-weight:900;
    color: @blue;
    line-height: 1;
    padding:30px 0 20px;
    background: #fff;
    position: relative;
    z-index: 1;

    @media (max-width:1309px) {
      font-size:38px;
      padding-bottom:21px;
    }

    @media (max-width:1019px) {
      font-size:30px;
    }

    @media (max-width:739px) {
      font-size: 22px;  
    }

  }

  &__banner {
    float: right;
    width: 300px;
    height: 600px;
    padding: 30px 0 20px 20px;
    /*background: url("../i/blockedban.jpg") no-repeat 100% 30px;*/
    -webkit-background-size: 300px 600px;
    background-size: 300px 600px;
    background-position:20px 30px;  

    

    /*.b-section_index & {
      width: 330px;
      padding: 30px 0 30px 35px;
      background-position:35px 30px; 

      @media (max-width:1309px) {
        padding-top:20px;
        padding-left:20px;
        width:300px;
        background-position:20px 20px; 
      }

    }*/
  }

  &__ov {
    @media (min-width:740px) {
      overflow: hidden;
    }

    /*&_bdr {
      border-right: 1px solid @graybd;
      }*/
    }

    &__one {
      display: block;
      float: left;
      width: 270px;
      margin-top: 25px;
      padding: 0 20px 35px 20px;
      border-bottom: 1px solid @graybd;
      text-decoration: none;
      position: relative;

      &:not(&_play):not(&_day) {
        @media (max-width:739px) {
          font-size:13px;
          margin-top:20px;
          line-height: 1.2 !important;
        }

        & .b-section__one__title {

          @media (max-width:739px) {
            font-size:14px !important;
            line-height: 1.154 !important;
          }
        }

        & .b-section__one__image {
          @media (max-width:739px) {
            width:100px;
            float:right;
            margin-left:10px;

          }
        }




      }

      

      &:hover {
        border-color: @graybd;
        text-decoration: none;
      }

      .b-section_play & {
        @media (max-width:1019px) {
          width:308px;
        } 

        &:nth-child(even) {
          & .date {
            @media (max-width:1019px) {
              padding-left: 0;
            }
          }
        }

        &.nobd {
          @media (max-width:1019px) {
            border-bottom: 1px solid @graybd !important;
          }

        }

        
      }

      .nom & {
        margin-top:0;
      }

      &.nom {
        @media (max-width:739px) {

          margin-top:15px !important;

        }
      }

      &_thing {

        &:before {
          display: block;
          content: " ";
          width: 2px;
          background: @blue;
          position: absolute;
          top: 3px;
          bottom: 12px;
          left: -20px;
        }

        .b-section__one__title {
          font-size: 18px !important;
          line-height: 20px !important;
        }
      }

      &_2 {
        width: 425px;
      }

      &_50 {
        width: 580px;
      }

      &_3 {
        width:373px;
        padding-bottom:50px; 


        .bd-top & {
          @media (min-width:740px) {
            padding-top:20px;
            border-top: 1px solid @graybd;
          }

        }

        @media (max-width:1309px) {
          width:280px !important;
        }

        @media (max-width:1019px) {
          width:192px !important;
        }

      }

      &_day {
        padding-bottom: 35px;

        @media (max-width:739px) {
          padding-bottom:20px;
        }

        & .b-section__one__image {
          @media (max-width:739px) {
            margin-left:-20px;
            width:~"calc(100% + 40px)";
          }
        }
      }

      &_play {
        width:580px;
        position: relative;

        @media (max-width:1309px) {
          width:440px !important;
        } 

        @media (max-width:739px) {
          padding-bottom:5px !important;
        }

        



        &:before {
          font-size: 222px;
          top:373px;
          .ff-ss;
          font-weight: 900;
          color: rgb(231, 234, 236);
          line-height: 0.743;
          position: absolute;
          content:'PLAY';
          display: block;
          z-index:-1;
          left:-40px;

          @media (max-width:1309px) {
            font-size: 154px;
            left:-30px;
            top:290px;
          } 

          @media (max-width:1019px) {
            top:440px;
          }

          @media (max-width:739px) {
            font-size: 92px;
            top:72vw;
            left:-35px;
          }

        }

        .date {
          position: relative;
          margin-top: 50px;
        }

        & .b-section__one__image {
          @media (max-width:1019px) {
            position: relative;
          }

          @media (max-width:739px) {
            width:~"calc(100% + 40px)";
            margin-left: -20px;
          }



        }
      }

      &_wide {
        width: 100%;
        padding: 0;
        border: none;
        position: relative;
        z-index: 1;
      }

      &_index {
        width:100% !important;
        box-sizing: border-box;

        .b-category__top_index &:last-child {
          border: 0;
        }

        .b-category__top__rightcol & {
          @media (min-width:1020px) and (max-width:1309px) {
            font-size:14px;
            margin-top:15px;
            line-height: 1.214;
          }

          @media (max-width:1019px) {

          }
        }


      }

      &_v {
        position: static;
      }

      &_trans-other {
        width: 260px;
      }

      &_trans {
        width: 860px;
        padding-bottom: 20px;
        background: #ffffff;
        position: relative;
        z-index: 1;
      }

      &__author {
        display: block;
        margin-bottom: -3px;
        padding-top: 1px;
        font-size: 9px;
        line-height: 22px;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        &__photo {
          float: right;
          display: block;
          margin: -38px 10px 10px 0;
          padding: 2px;
          background: #ffffff;
          position: relative;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          img {
            display: block;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
      }

      &__link {
        display: block;
      }

      &__title {
        display: block;
        margin-bottom: 6px;
        padding-top: 5px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 900;

        @media (max-width:739px) {
          padding-top:0;
        }

        &_day {
          padding-top:18px;
          padding-left: 95px;

          @media (max-width:1019px) {
            padding-left: 0;
          }

          @media (max-width:739px) {
            padding-left:60px;
            font-size:22px !important;
          }

          & + span {
            display: block;
            padding-left: 95px;

            @media (max-width:1019px) {
              padding-left: 0;
            }

            @media (max-width:739px) {
              padding-left:60px;
            }
          }
        }


        .b-sections__left & {
          margin-bottom: -1px;
          padding-top: 0;
        }

        .b-section_smalltitle & {
          font-size: 15px;
        }

        /*.b-section__one_trans &,*/
        .b-section__one_wide & {
          margin-bottom: 4px;
          font-size: 30px;
          line-height: 30px;
        }

        .b-section__one_3 & {
          font-size: 22px;
          margin-top:10px;
          line-height: 1.091;

          @media (max-width:1309px) {
            font-size: 18px;
          }

          @media (max-width:739px) {
            margin-top:0;
          }
        }

        .b-section__one_play & {
          font-size: 30px;
          line-height: 1.2;
          padding-top:20px;
          margin-bottom:15px;

          @media (min-width:740px) and (max-width:1019px) {
            padding-right: 100px;
          }

          @media (max-width:739px) {
            font-size: 18px;
          }
        }

        .b-section__one_index & {
          padding-top:0;

          .b-category__top__rightcol & {
            @media (min-width:1020px) and (max-width:1309px) {
              font-size:14px;
              line-height: 1.214;
            }

          }

          .b-category__top__leftcol & {
            @media (max-width:1309px) {
              font-size:18px;
            }
          }
        }

        .b-category__top__rightcol .b-section__one_index.nom & {
          @media (max-width:1019px) {
            padding-top:25px !important;
          }

        }
      }




      &__day {
        position: absolute;
        width: 120px;
        height: 120px;
        background: #e7eaec;
        z-index:-1;
        border-radius: 50%;
        margin-top:-44px;
        margin-left:10px;
        text-align: center;
        .ff-ss;
        padding-top: 25px;
        box-sizing: border-box;
        padding-right: 25px;

        @media (max-width:1019px) {
          padding-right: 0;
          margin-left: -30px;
          padding-top: 15px;
          margin-top:-55px;
        }

        @media (max-width:739px) {
          margin-left:-40px;
          margin-top:-45px;
          padding-top:35px;
        }




        &__num {
          font-size: 40px;
          text-transform: none;
          line-height: 1.111;
          display: block;

          *:hover & {
            color:@blue;
          }


        }

        &__date {
          .date;
          margin-top: -5px;
          display: block;
        }
      }




      &__date {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 0;

        .b-section__one_3 & {
          margin-top:30px;
        }

        .b-section__one:hover & {
          color:inherit;
        }

        & > span {
          margin:0 6px;
        }





      }

      &__image {
        display: block;
        margin: 5px 0 7px 0;
        position: relative;

        a:hover &:before {
          display: block;
          content: " ";
          background: rgba(23, 42, 69, 0.30);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }



        .b-section__one_trans & {
          margin-right: 180px;
        }

        .b-section__one_wide & {
          margin: 5px 330px 0 0;
        }

        &_day {
          z-index:-2;
          margin-top:0;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }

        &__label {
          display: block;
          padding: 0 15px;
          border: 1px solid #ffffff;
          background: rgba(23, 42, 69, 0.30);
          color: #ffffff;
          font-size: 10px;
          line-height: 23px;
          font-weight: 500;
          text-transform: uppercase;
          position: absolute;
          top: 15px;
          left: 10px;

          &_alt {
            padding-bottom: 2px;
            border: none;
            letter-spacing: 1.1px;
          }
        }
      }

      &__text {
        display: block;
        width: 240px;
        padding: 20px 20px 10px 20px;
        background: @graybg;
        position: absolute;
        top: 15px;
        right: 0;
        bottom: 40px;

        .b-section__one_wide & {
          width: 405px;
          bottom: 10px;
        }
      }
    }

    &__gallery {
      margin-top: 37px;
      background: @blue;

      &__wrap {
        width: 100%;
        margin: auto;
      }

      .fotorama__wrap {
        margin: auto;
      }

      .fotorama__nav-wrap {
        margin: -47px 1px 2px 0;
      }

      &--fotorama {
        @media (min-width: 1020px) {
          width:61%;
        }

        .fotorama__arr--prev:before {
          content:'←'; 
          margin-left:20px; 

          @media (max-width:1309px) {
            margin-left: 10px;
          }  
        }

        .fotorama__arr--next:before {
          content:'→';
          margin-left:-30px;  

          @media (max-width:1309px) {
            margin-left: -20px;
          }   
        }

        .fotorama__arr--next, .fotorama__arr--prev {
          background: none;
          color:#fff;
          text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);

          &:before {
            display: block;
            font-size:55px;
            font-weight:normal;
          }

          &:hover {
            color:@bluel;
          }
        }
      }
    }

    &__flex {
      @media (min-width: 1020px) {
        display: flex;
        flex-direction: row-reverse;
      }

    }

    &__text {
      padding: 14px 0 10px 0;
      border-bottom: 1px solid @graybd;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;

      &--fotorama {
        @media (min-width: 1020px) {
          width:39%; 
          padding-right: 40px;
        }

        @media (max-width: 1019px) {
          padding-bottom:0;
        }

      }

      &__descr {
        margin-bottom: 5px;

        &--fotorama {
          font-size:15px;
          line-height: 1.333;

          @media (min-width: 1020px) {
            padding-top:20px;    
            padding-right: 20px;
          }
        }
      }

      &__author {
        margin-top: 2px;
        color: @gray;

        &--fotorama {
          font-size:12px;
          padding:5px 0;
          margin-top:7px;

          @media (max-width:1309px) {
            padding:10px 0;
          }

          @media (max-width: 1019px) {
            padding-top:0;
          }
        }
      }
    }
  }

  .b-foot {
    margin-top: 49px;
    padding: 10px 0 35px 0;
    background: @black;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 900;

    a, .link {
      border: none;
      vertical-align: middle;
      color: #999999;
      text-decoration: none;

      .svg {
        vertical-align: top;
        fill: #999999;
      }

      &:hover {
        border: none;
        color: @bluel;
        text-decoration: none;

        .svg {
          fill: @bluel;
        }
      }
    }

    &__nav {
      float: left;
      padding: 20px 0;

      span {
        margin: 0 5px;
      }
    }

    &__socials {
      float: right;
      width: 425px;
      padding: 21px 0 21px 20px;

      a {
        display: inline-block;
      }

      a&_fb {
        margin-left: 9px;
      }

      a&_vk {
        margin-left: 3px;
      }

      a&_tw {
        margin-left: 5px;
      }

      a&_ok {
        margin-left: 2px;
      }

      a&_ig {
        margin-left: -2px;
      }
    }

    &__partners {
      float: left;
      padding: 21px 0;

      &__title {
        display: inline-block;
        margin-right: 40px;
        vertical-align: middle;
      }

      &__links {

        a {
          margin-right: 21px;
          vertical-align: middle;

          img {
            vertical-align: middle;
          }
        }
      }
    }

    &__madeby {
      float: right;
      width: 424px;
      padding: 22px 0 22px 20px;
      border-left: 1px solid @footbd;
      position: relative;

      &:before, &:after {
        display: block;
        content: " ";
        width: 1200px;
        height: 1px;
        background: @footbd;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:after {
        top: auto;
        bottom: 0;
      }
    }
  }

  #fader {
    display: none;
    background: url("../i/fader.png") repeat;
    position: fixed;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .b-menu {
    width: 450px;
    background: #ffffff;
    position: absolute;
    top: -1000px;
    bottom: 0;
    left: -451px;
    z-index: 11;
    -webkit-transition: left 500ms;
    transition: left 500ms;

    &.active {
      left: 0;
    }

    a {
      border: none;
      text-decoration: none;

      &:hover {
        border: none;
        text-decoration: none;
      }
    }

    &__wrap {
      width: 360px;
      padding: 25px 50px 0 40px;
      position: absolute;
      top: 1000px;
      left: 0;
    }

    &__logo {
      float: right;
    }

    &__close {
      float: left;
      margin-top: 5px;
      cursor: pointer;

      .svg {
        display: block;
        fill: @blue;
      }

      &:hover {

        .svg {
          fill: @bluel;
        }
      }
    }

    &__head {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid @blue;
    }

    &__nav {
      margin-left: -40px;
      font-size: 15px;
      line-height: 20px;

      ul, li {
        display: block;
        margin: 0;
        padding: 0;
      }

      li {
        padding: 5px 0;

        &:before {
          display: none;
        }
      }

      &__one {
        float: left;
        width: 160px;
        margin-left: 40px;
      }

      &__point {
        padding: 5px 0;
        font-size: 18px;
        line-height: 20px;
        font-weight: 900;
      }
    }
  }

  .b-404 {
    padding-bottom: 28px;
    text-align: center;

    &__title {
      margin: 0 0 14px 0;
      font-size: 50px;
      line-height: 50px;
      font-weight: 900;
    }

    &__text {
      margin-bottom: 21px;
      font-size: 18px;
      line-height: 30px;
    }

    &__404 {
      color: @graybd;
      font-size: 200px;
      line-height: 200px;
      font-weight: 900;
    }
  }

  .b-factoid {
    margin: 28px 0 32px 0;
    padding: 0 20px 0 21px;
    position: relative;

    &:before {
      display: block;
      content: " ";
      width: 3px;
      background: @blue;
      position: absolute;
      top: 4px;
      bottom: 1px;
      left: 0;
    }

    &-block {
      padding-right: 141px;
    }

    &-block & {
      float: right;
      width: 200px;
      margin: -2px -281px 30px 40px;

      &:before {
        top: 3px;
        bottom: -3px;
      }
    }
  }

  .b-quote {
    margin: 63px 0 59px 0;
    padding: 32px 40px 28px 68px;
    border-top: 3px solid @blue;
    border-bottom: 1px solid @graybd;
    font-size: 20px;
    line-height: 25px;
    position: relative;

    &:before {
      display: block;
      content: ",,";
      color: @gray;
      font-size: 185px;
      line-height: 30px;
      letter-spacing: -12px;
      position: absolute;
      top: -5px;
      left: -9px;
    }

    &__author {
      margin-top: 9px;
      font-size: 16px;
      line-height: 30px;

      b {
        font-weight: 900;
      }
    }
  }

  .table {
    margin-right: -10px;
    margin-bottom: 34px;
    margin-left: -10px;
    border: none;
    border-bottom: 1px solid @graybd;
    border-collapse: collapse;

    tr {
      border-right: 10px solid #ffffff;
      border-left: 10px solid #ffffff;

      &:hover {
        border-color: @graybg;
        background: @graybg;
      }

      &.nohover:hover {
        border-color: #ffffff;
        background: #ffffff;
      }
    }

    th, td {
      padding: 7px 0 7px 10px;
      vertical-align: top;
      font-size: 16px;
      line-height: 23px;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &.ta-r {
        text-align: right;
      }
    }

    th {
      padding-bottom: 8px;
      border-bottom: 1px solid @graybd;
      font-size: 12px;
      font-weight: 500;
      font-family: "Museo Sans", sans-serif;
    }
  }

  .ya-share2 {

    a {
      border: none;
    }

    &__badge {
      background: none !important;
      color: @gray !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;

      a:hover & {
        color: @gray !important;
      }
    }

    &__icon {
      background: @graybd !important;

      a:hover & {
        background: @bluel !important;
      }
    }

    &__counter {
      margin-top: 3px;
      padding: 0 4px !important;
      background: #ffffff;
      line-height: 18px !important;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: relative;

      &:before {
        display: none !important;
      }
    }

    &__item {
      margin: -1px 0 0 23px !important;
      padding: 0;
      font-family: "Museo Sans", sans-serif !important;
      opacity: 1 !important;

      &:before {
        display: none;
      }

      &_service {

        &_facebook {

          .ya-share2__icon {
            -webkit-mask: url("../i/soc-fb.svg") no-repeat 50% 50%;
            mask: url("../i/soc-fb.svg") no-repeat 50% 50%;
          }

          &:hover .ya-share2__icon {
            background: #304591 !important;
          }
        }

        &_vkontakte {

          .ya-share2__icon {
            -webkit-mask: url("../i/soc-vk.svg") no-repeat 50% 50%;
            mask: url("../i/soc-vk.svg") no-repeat 50% 50%;
          }

          &:hover .ya-share2__icon {
            background: #527397 !important;
          }
        }

        &_twitter {

          .ya-share2__icon {
            -webkit-mask: url("../i/soc-tw.svg") no-repeat 50% 50%;
            mask: url("../i/soc-tw.svg") no-repeat 50% 50%;
          }

          &:hover .ya-share2__icon {
            background: #31adf4 !important;
          }
        }

        &_odnoklassniki {

          .ya-share2__icon {
            -webkit-mask: url("../i/soc-ok.svg") no-repeat 50% 50%;
            mask: url("../i/soc-ok.svg") no-repeat 50% 50%;
          }

          &:hover .ya-share2__icon {
            background: #ee830b !important;
          }
        }
      }
    }
  }

  .b-article {
    font-size: 16px;
    line-height: 23px;

    &__source {
      margin-bottom: 25px;
      padding: 5px 0;
      border-bottom: 1px solid @graybd;
      font-size: 15px;

      &__left {
        float: left;
        padding-top: 4px;
      }

      &__logo {
        float: right;
        padding: 2px 1px 0 0;

        a {
          border: none;
        }
      }
    }

    &__title {
      margin: 0 0 16px 0;
    }

    &__pretext {
      margin: 0 340px 31px 0;
      font-size: 18px;
      line-height: 25px;
    }

    &__info {
      margin-bottom: 30px;
      padding: 14px 0 10px 0;
      border-top: 1px solid @graybd;
      border-bottom: 1px solid @graybd;
      color: @gray;
      font-size: 12px;
      line-height: 25px;

      &__left {
        float: left;

        a {
          border: none;
          color: @gray;
          text-decoration: none;

          &:hover {
            border: none;
            color: @bluel;
            text-decoration: none;
          }
        }

        span {
          margin: 0 7px 0 6px;
        }
      }

      &__right {
        float: right;

        &_circles {
          margin-bottom: 1px;

          .ya-share2 {

            &__badge {
              min-width: 37px;
              padding: 13px 0 13px 13px;
              position: relative;

              &:before {
                display: block;
                content: " ";
                width: 48px;
                height: 48px;
                border: 1px solid @graybd;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
              }
            }

            &__counter {
              margin-left: 6px !important;
            }

            &__item {
              margin-left: 17px !important;

              &_service {

                &_facebook {

                  .ya-share2__icon {
                    background: #304591 !important;
                  }

                  &:hover .ya-share2__badge:before {
                    border-color: #304591 !important;
                    background: #304591 !important;
                  }
                }

                &_vkontakte {

                  .ya-share2__icon {
                    background: #527397 !important;
                  }

                  &:hover .ya-share2__badge:before {
                    border-color: #527397 !important;
                    background: #527397 !important;
                  }
                }

                &_twitter {

                  .ya-share2__icon {
                    background: #31adf4 !important;
                  }

                  &:hover .ya-share2__badge:before {
                    border-color: #31adf4 !important;
                    background: #31adf4 !important;
                  }
                }

                &_odnoklassniki {

                  .ya-share2__icon {
                    background: #ee830b !important;
                  }

                  &:hover .ya-share2__badge:before {
                    border-color: #ee830b !important;
                    background: #ee830b !important;
                  }
                }
              }

              &:hover .ya-share2__icon {
                background: #ffffff !important;
              }
            }
          }
        }
      }

      &_bottom {
        margin-top: 35px;
        padding: 16px 0 13px 0;
      }

      &_tagged {
        margin-bottom: 0;
      }

      &__author {
        color: @blue !important;
        line-height: 50px;
        font-weight: 900;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        &:hover {
          color: @bluel !important;
        }

        &_noimage {
          line-height: inherit;
        }

        &__image {
          display: block;
          float: left;
          margin: -3px 8px -1px 0 !important;
          padding: 2px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          img {
            display: block;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
      }
    }

    &__banner {
      float: right;
      width: 300px;
      height: 600px;
      /*background: url("../i/blockedban.jpg") no-repeat 100% 0;*/
      -webkit-background-size: 300px 600px;
      background-size: 300px 600px;
    }

    &__content {
      margin-right: 340px;

      &_nobanner {
        margin-right: 0;
        padding: 0 120px;
        font-size: 18px;
        line-height: 26px;

        h3 {
          font-size: 24px;
          line-height: 30px;
        }

        .b-factoid {

          &-block .b-factoid {
            margin-top: 2px;
            margin-right: -262px;
            font-size: 16px;
            line-height: 24px;

            &:before {
              top: 1px;
              bottom: 0;
            }
          }
        }

        .b-article {

          &__important {
            font-size: 24px;
            line-height: 30px;
          }

          &__image {

            &_wide {
              margin-right: -120px;
              margin-left: -120px;
            }
          }
        }
      }
    }

    &__image {
      margin-bottom: 44px;

      &--vertical {
        max-width:484px;
      }

      &_m {
        margin-bottom: 20px;
      }

      &_video {
        max-width: 100%;

        iframe {
          display: block;
          width: 100%;
        }
      }


      img {
        display: block;
        width: 100%;
        height: auto;
      }

      iframe {
        width: 100%;
      }

      .b-section__gallery {
        margin-top: 51px;
      }

      &__youtube {
        position: relative;

        iframe {
          position: absolute;
          height: 100%;
          top:0;
          left:0;
        }

      }

      &__ratio {
        opacity: 0;
      }

    }

    &__important {
      margin: 51px 0 54px 0;
      padding-bottom: 8px;
      border-bottom: 1px solid @graybd;
      font-size: 18px;
      line-height: 25px;

      &_m {
        margin-top: 0;
        padding-bottom: 7px;
        font-size: 16px;
        line-height: 23px;
      }
    }

    p {
      margin-bottom: 15px;
    }

    &__line {
      background-color: @blue;
      width:100%;
      clear: both;
      position: relative;
      height: 2px;
      margin: 60px 0 40px;

      &_arrow {
        &:before {
          display: block;
          width:30px;
          height:60px;
          background: #fff;
          content:'←';
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          font-size: 40px;
          .ff-s;
          color: @blue;
          position: absolute;
          top:-20px;
          left:0;
          right:0;
          margin:0 auto;
          box-sizing: border-box;
          padding-top: 15px;
          padding-left: 5px;


        }
      }

      &_num {
        &:before {
          display: block;
          top: -35px;
          left: 0px;
          right: 0;
          margin: 0 auto;
          content: '';
          position: absolute;
          width: 82px;
          height: 82px;
          background: #fff;


        }
      }

      &__num {
        background: #fff;
        font-size: 20px;
        .ff-s;
        color: @blue;
        text-align: center;
        position: absolute;
        top:-24px;
        left:0;
        right:0;
        margin:0 auto;
        border-width: 3px;
        border-color: @blue;
        border-style: solid;
        border-radius: 50%;
        font-weight: bold;
        box-sizing: border-box;
        padding-top: 11px;
        padding-left: 1px;
        width: 50px;
        height: 50px;

        @media (max-width:1309px) {
          padding-top:11px;
        }

        &:before {
          display: block;
          position: absolute;
          top:-10px;
          left:-10px;
          right:0;
          margin:0 auto;
          border-width: 1px;
          border-color: @blue;
          border-style: solid;
          border-radius: 50%;
          content: '';
          position: absolute;
          width: 62px;
          height: 62px;


        }

      }


    }

    &__tags {
      padding: 12px 0 11px 0;
      border-bottom: 1px solid @graybd;
      font-size: 12px;
      line-height: 16px;
      text-align: center;

      a {
        margin: 0 6px;
        border: none;
        text-decoration: none;

        &:hover {
          border: none;
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (min-width: 1310px) {
    h3 {
      margin-bottom: 26px;
    }

    .bd-trans {

      &:before, &:after {
        top: 90px !important;
      }
    }

    .b-section__one_trans {
      height: 1px !important;

      &.heighted {
        height: auto !important;
      }
    }

    .b-factoid {

      &-block & {
        margin-top: 2px;
        margin-right: -267px;
        font-size: 16px;
        line-height: 23px;
      }
    }

    .b-quote {
      margin: 72px 0 50px 0;
      padding: 28px 0 29px 68px;
      font-size: 25px;
      line-height: 30px;

      &:before {
        top: -6px;
        left: -9px;
      }

      &__author {
        margin-top: 7px;
        font-size: 20px;
      }
    }

    .table {
      margin-bottom: 40px;

      th, td {
        padding: 8px 0 7px 15px;
        font-size: 18px;
        line-height: 26px;

        &:first-child {
          padding-left: 0;
        }
      }

      th {
        padding-top: 5px;
        padding-bottom: 6px;
        font-size: 16px;
      }
    }

    .b-news {

      &__text {
        padding-right: 120px;
        font-size: 18px;
        line-height: 26px;
      }
    }

    .b-article {
      font-size: 18px;
      line-height: 26px;

      &__pretext {
        font-size: 18px;
        line-height: 26px;
      }

      &__image {
        margin-bottom: 44px;

        &_m {
          margin-bottom: 20px;
        }

        &_video {
          margin-bottom: 49px;
        }

        .b-section__gallery {
          margin-top: 51px;
        }
      }

      &__important {
        margin: 51px 125px 50px 0;
        padding-bottom: 13px;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0;

        .b-article__wrap & {
          margin-right: 0;
        }

        &_m {
          margin-top: -5px;
          padding-bottom: 13px;
          font-size: 18px;
          line-height: 26px;
        }
      }

      &__wrap {
        padding-right: 125px;
      }

      &__tags {
        padding: 12px 0 11px 0;
        border-bottom: 1px solid @graybd;
        font-size: 12px;
        line-height: 16px;
        text-align: center;

        a {
          margin: 0 6px;
          border: none;
          text-decoration: none;

          &:hover {
            border: none;
            text-decoration: none;
          }
        }
      }

      &__content {

        &_nobanner {
          margin-right: 0;
          padding: 0 120px;
          font-size: 18px;
          line-height: 26px;

          .b-factoid {

            &-block .b-factoid {
              margin-top: -9px;
              margin-right: -262px;
              font-size: 16px;
              line-height: 24px;

              &:before {
                top: 1px;
                bottom: 0;
              }
            }
          }

          .b-article {

            &__important {
              font-size: 24px;
              line-height: 30px;
            }

            &__image {

              &_wide {
                margin-right: -120px;
                margin-left: -120px;
              }

              &_video {
                max-width: 680px;
                padding-top: 15px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1309px) {
    .pc-pad-r {
      padding-right: 20px !important;
      padding-left: 0 !important;
    }

    .pc-pad-l {
      padding-right: 0 !important;
      padding-left: 20px !important;
    }

    .bd {

      &-221:before {
        left: 340px !important;
      }

      &-221:after {
        left: 700px !important;
      }

      &-trans:before {
        top: 28px !important;
        left: 290px !important;
      }

      &-trans:after {
        display: none;
      }

      &-0:before, &-0:after {
        top: 0 !important;
      }
    }

    .l-wrap {
      width: 920px;
      padding: 0 40px;

      .banner {
        margin: 0 -40px;
      }
    }

    .b-category {

      &__top {

        &__item {

          &__text {
            min-height: 176px;
            bottom: 19px;
          }
        }
      }
    }

    .b-items {

      &__one {
        width: 200px;

        &_2 {
          width: 440px;
        }
      }
    }

    .b-sections {

      &:before {
        left: 220px;
      }

      &__left {
        width: 200px;
      }

      &__right {
        width: 680px;
      }

      &-nav {

        .b-section {
          float: left;
          width: 320px;
          padding: 0 20px;
          border-bottom: none;
          position: relative;

          &:before {
            top: 26px;
            left: 0;
          }

          &:after {
            top: 26px;
            right: -1px;
          }

          &_25 {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;

            &:before {
              display: none;
            }
          }

          &_15 {
            width: 200px;
            padding-right: 0;
            margin-right: 0;

            &:after {
              display: none;
            }
          }

          &__one {
            width: auto;
            padding-right: 0;
            padding-left: 0;

            &__title {
              margin-bottom: -1px;
              padding-top: 0;
            }
          }
        }
      }
    }

    .b-section {

      &:before {
        left: 220px;
      }

      &:after {
        right: 219px;
      }

      &__one {
        width: 200px;

        &_2 {
          width: 320px;
        }

        &_50 {
          width: 440px;
        }

        &_wide {
          width: 100%;
        }

        &_trans-other {
          width: 270px;
        }

        &_trans {
          width: 270px;
          padding-bottom: 45px;
        }

        &__image {

          .b-section__one_trans & {
            margin-right: 0;
          }

          .b-section__one_wide & {
            margin-right: 140px;
          }
        }

        &__title {

          .b-section__one_trans & {
            margin-bottom: 5px;
            font-size: 18px;
            line-height: 20px;
          }
        }

        &__text {
          display: block;
          width: auto;
          padding: 0;
          background: none;
          position: static;
          top: auto;
          right: auto;
          bottom: auto;
          left: auto;

          .b-section__one_wide & {
            display: block;
            width: 290px;
            padding: 16px 30px 10px 20px;
            background: @graybg;
            position: absolute;
            top: 15px;
            right: 0;
            bottom: 10px;
          }
        }
      }

      &__gallery {
        background: none;
      }
    }

    .b-foot {

      &__socials {
        width: 320px;
      }

      &__madeby {
        width: 319px;

        &:before, &:after {
          width: 920px;
        }
      }
    }
  }

  @media screen and (min-width: 1020px) {
    .b-sections-nav .b-section__one,
    .b-sections__left .b-section__one {
      height: auto !important;
    }
  }

  @media screen and (max-width: 1019px) {
    .banner {

      a {
        width: 660px;
      }
    }

    h3 {
      font-size: 18px;
    }

    .bd {

      &-1111 {

        &:before {
          left: 156px !important;
        }

        &:after {
          right: 156px !important;
        }

        &.bd-tab50:before,
        &.bd-tab50:after {
          display: none;
        }
      }

      &-221 {

        &:before {
          left: 213px !important;
        }

        &:after {
          left: 446px !important;
        }

        .b-sections__right & {

          &:before {
            left: 330px !important;
          }

          &:after {
            display: none;
          }
        }
      }

      &-trans:before {
        top: 80px !important;
        left: 213px !important;
      }

      &-trans:after {
        display: block;
        top: 80px !important;
        left: 446px !important;
      }
    }

    .tab-nobd {
      border: none !important;
    }

    .tab-nopad {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    .tab-pad-l {
      padding-left: 20px !important;
    }

    .tab-pad-r {
      padding-right: 20px !important;
    }

    .pc {
      display: none !important;
    }

    .tab {
      display: block !important;
    }

    .l-wrap {
      width: 660px;
    }

    .b-list {

      &__banner {
        display: none;
      }
    }

    .b-news {

      &__banner {
        display: none;
      }

      &__view {
        overflow: visible;
        padding: 0 88px;
      }

      .b-article__info {
        margin-right: -88px;
        margin-left: -88px;
      }
    }

    .b-category {

      &__top {

        &:before, &__banner {
          display: none;
        }

        &__item {
          padding: 0 0 55px 0;

          &__text {
            min-height: 0;
            bottom: 30px;
          }
        }
      }
    }

    .b-items {

      &__one {
        width: 193px;

        &_2 {
          width: 193px;
        }

        &__title {

          &_big {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
    }

    .b-sections {

      &:before {
        display: none;
      }

      &__left {
        float: none;
        width: auto;
        margin-bottom: 55px;
        position: relative;

        &:before, &:after {
          display: block;
          content: " ";
          width: 1px;
          background: @graybd;
          position: absolute;
          top: 70px;
          left: 213px;
          bottom: 0;
        }

        &:after {
          top: 28px;
          left: 446px;
        }

        .b-section__one__image {
          display: none;
        }
      }

      &__right {
        float: none;
        width: auto;

        .b-section.bd {

          &:before {
            left: 50%;
          }

          &:after {
            display: none;
          }
        }
      }

      &-nav {

        .b-section {
          width: 310px;
          margin-bottom: 55px;
          padding-right: 0;

          &:after {
            display: none;
          }

          &_25 {
            margin-left: 0;
            padding-left: 0;
            padding-right: 20px;
            border-left: 0;

            &:before {
              display: none;
            }

            &:after {
              display: block;
            }
          }

          &_15 {
            float: none;
            width: 660px;
            padding: 0 !important;
            margin: 0 !important;
            clear: both;
            overflow: hidden;

            &:before, &:after {
              display: none;
            }

            .b-section__one {
              width: 135px;
              margin-top: 0;
              margin-left: -1px;
              padding-top: 25px;
              border-left: 1px solid @graybd;
            }
          }

          &__one {
            width: auto;
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }

    .b-section {
      border-bottom: 1px solid @graybd;

      @media (max-width:1019px) {
        border-bottom:none;
      }

      &:before {
        top: 28px;
        left: 290px;
      }

      &:after {
        top: 28px;
        right: 289px;
        bottom: 0;
      }

      &__banner {
        display: none;
      }

      &__one {
        width: 193px;

        &_thing:before {
          display: none;
        }

        .b-sections__right & {
          width: 310px;
        }

        &_2 {
          width: 193px;

          .b-sections__right & {
            width: 310px;
          }
        }

        &_50 {
          width: 310px;
        }

        &_1111 {
          width: 135px;
        }

        &_tab2 {
          width: 426px;
          background: #ffffff;
        }

        &_tab3 {
          width: 310px;
        }

        &_wide {
          width: 100%;
          font-size: 15px;
          line-height: 20px;
        }

        &_v {
          width: 100% !important;
          margin-top: 0;
          border-bottom: 1px solid @graybd !important;
          background: #ffffff;
          position: relative;
          z-index: 1;




        }

        &_trans-other {
          width: 193px;
        }

        &_trans {
          width: 660px;
          height: auto !important;
          padding-right: 0 !important;
          padding-bottom: 20px;
          background: #ffffff;
          position: relative;
          z-index: 1;
        }

        &__title {

          .b-section_smalltitle & {
            font-size: 15px;
          }

          .b-section__one_trans &,
          .b-section__one_wide & {
            font-size: 18px;
            line-height: 20px;
          }
        }

        &__image {

          .b-section__one_trans &,
          .b-section__one_wide & {
            margin-right: 150px;
          }
        }

        &__text {
          display: block;
          width: 240px;
          padding: 20px 20px 10px 20px;
          background: @graybg;
          position: absolute;
          top: 15px;
          right: 0;
          bottom: 40px;

          .b-section__one_trans &,
          .b-section__one_wide & {
            width: 200px;
            top: 15px;
            bottom: 40px;
          }

          .b-section__one_wide & {
            font-size: 15px;
            line-height: 20px;
            bottom: 10px;
          }
        }
      }

      &__gallery {
        width: auto;
      }
    }

    .b-foot {
      margin-top: 48px;
      padding: 10px 0;

      &__socials {
        float: right;
        width: auto;
        padding: 22px 0 20px 20px;
      }

      &__partners {
        float: none;
        width: auto;
        padding: 20px 0 21px 0;
        border-top: 1px solid @footbd;
      }

      &__madeby {
        float: none;
        width: auto;
        padding: 20px 0;
        border-top: 1px solid @footbd;
        border-left: none;

        &:before, &:after {
          display: none;
        }
      }
    }

    .b-factoid {

      &-block {
        padding-right: 126px;
      }

      &-block & {
        width: 155px;
        margin-right: -236px;
        padding-right: 20px;

        &:before {
          top: 4px;
          bottom: 0;
        }
      }
    }

    .b-article {

      &__pretext {
        margin-right: 0;
      }

      &__banner {
        display: none;
      }

      &__content {
        margin-right: 0;

        &_nobanner {
          padding-right: 0;
          padding-left: 0;
          font-size: 16px;
          line-height: 23px;

          .b-article__image_wide {
            margin-right: 0;
            margin-left: 0;
          }

          .b-article__important {
            font-size: 18px;
            line-height: 25px;
          }

          h3 {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }

      &__wrap {
        padding: 0 88px;
      }

      &__info {

        &__left {
          padding-left: 64px;
          line-height: 22px;

          &_nopad {
            padding-left: 0;
          }

          span {
            margin: 0 2px;
          }
        }

        &__author {
          display: block;
          line-height: 22px;

          &__image {
            margin-bottom: -50px !important;
            margin-left: -62px !important;
          }

          + span {
            display: block;
            content: " ";
            height: 0;
            clear: both;
            overflow: hidden;
          }
        }
      }
    }
  }

  @media screen and (max-width: 739px) {
    .banner {

      a {
        width: 100%;
      }
    }

    h1 {
      font-size: 24px;
      line-height: 30px;
    }

    h2 {
      font-size: 20px;
      line-height: 25px;
    }

    h3 {
      font-size: 20px;
      line-height: 25px;
    }

    .bd {

      &:before, &:after, &-1111__bd {
        display: none !important;
      }
    }

    .tab {
      display: none !important;
    }

    .mob {
      display: block !important;
    }

    .l-wrap {
      width: auto;
      padding: 0 20px;

      .banner {
        margin: 0 -20px;
      }
    }

    .b-head {
      margin-bottom: 30px;

      &__logo {
        height: 46px;
        margin-top: -7px;

        span {
          display: none;
        }
      }

      &__categories {
        display: none;
      }
    }

    .b-title {

      &__userpic {
        width: 100px;
        margin-right: 20px;
      }
    }

    .b-list {

      &__title {
        margin: 22px 0 6px -1px;

        h1 {
          font-size: 30px;
        }
      }

      &__section {
        font-size: 15px;
        line-height: 20px;

        &__title {
          float: none;
          width: auto;
          margin-right: 0;
          padding-bottom: 26px;
        }

        &__items {

          &__one {
            padding: 25px 0 15px 0;

            &__image {
              width: 100px;
              margin: 0 0 0 10px;
            }
          }
        }
      }

      &__form {
        padding-bottom: 60px;
        position: relative;

        &__btn {
          float: none;
          margin: 0;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    .b-news {

      &__banner {
        display: none;
      }

      &__view {
        overflow: visible;
        padding: 0;
      }

      &__title {
        margin-bottom: 12px;
        padding-top: 23px;
      }

      .b-article__info {
        margin-right: 0;
        margin-left: 0;
      }

      &__share {
        margin: -7px 0 1px 0;
        padding-top: 0;
      }
    }

    .b-category {

      &__top {

        &__item {
          margin: 0 -20px;
          padding: 0 0 30px 0;

          a {
            border: none;
            text-decoration: none;
          }

          &__text {
            margin: -35px 10px 0 10px;
            padding-top: 18px;
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            z-index: 1;

            &__title {
              margin-bottom: 7px;
              font-size: 22px;
              line-height: 25px;
            }
          }
        }
      }
    }

    .b-items {

      &__one {
        float: none !important;
        width: auto !important;
        height: auto !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        border-left: none !important;

        &__date {
          left: 0;
        }
      }
    }

    .b-sections {

      &__left {

        &:before, &:after {
          display: none;
        }

        .b-section__one__image {
          display: block;
        }
      }

      &-nav {

        .b-section {
          float: none !important;
          width: auto !important;
          height: auto !important;
          margin: 0 0 55px 0;
          padding: 0;

          &:before, &:after {
            display: none !important;
          }

          &_15 {
            float: none;
            margin: 0 !important;
          }

          &__one {
            width: auto;
          }
        }
      }
    }

    .b-section {
      border: none;

      &__title:before {
        display: none !important;
      }

      &__one {
        float: none !important;
        width: auto !important;
        height: auto !important;
        padding-right: 0 !important;
        padding-left: 0 !important;

        &__title {

          .b-section_smalltitle & {
            font-size: 15px;
          }

          .b-section__one_trans &,
          .b-section__one_wide & {
            font-size: 18px;
            line-height: 20px;
          }
        }

        &__image {
          margin-right: 0 !important;
        }

        &_wide {
          width: auto !important;
          margin: 25px -20px 50px -20px;
          padding-bottom: 0 !important;
          position: relative;

          &:before {
            display: block !important;
            content: " ";
            height: 1px;
            background: @graybd;
            position: absolute;
            bottom: -50px;
            right: 20px;
            left: 20px;
          }
        }

        &__text {
          display: block;
          width: auto !important;
          padding: 0;
          background: none;
          position: static;
          top: auto;
          right: auto;
          bottom: auto;
          left: auto;

          .b-section__one_wide & {
            width: auto;
            margin: -30px 10px 0 10px;
            padding-bottom: 40px;
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            z-index: 1;

            .b-section__one__date {
              left: 20px !important;
            }
          }
        }

        &__date {
          padding-left: 0 !important;
          left: 0 !important;
        }

        &_v {
          width: 100% !important;
          margin-top: 0;
          padding: 25px 0 0px 0;
          border-bottom: 1px solid @graybd !important;



          &__text {
            display: block;
            width: auto;
            padding: 0;
            background: none;
            position: static;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;

            .b-section__one__date {
              left: 0;
            }
          }
        }
      }

      &__gallery {
        width: auto;
        margin: 30px -21px 0 -21px;

        &__wrap {
          width: 100%;
        }
      }

      &__text {
        border-bottom: 1px solid @graybd;
      }
    }

    .b-foot {
      padding: 0;
      font-size: 18px;
      line-height: 18px;

      &__nav {
        float: none;
        padding: 25px 0 26px 0;
      }

      &__socials {
        float: none;
        width: auto;
        padding: 21px 0;
        border-top: 1px solid @footbd;
      }

      &__partners {
        padding: 20px 0 21px 0;
        line-height: 27px;

        &__title {
          display: block;
          margin-bottom: 1px;
        }
      }

      &__madeby {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    .b-menu {
      width: 265px;
      left: -266px;

      &.active {
        left: 0;
      }

      &__wrap {
        width: 215px;
        padding: 20px 30px 0 20px;
      }

      &__head {
        margin-bottom: 0;
      }

      &__nav {
        margin-left: 0;

        &__one {
          float: none;
          width: auto;
          margin-left: 0;
        }

        &__point {
          margin-top: 30px !important;
        }
      }
    }

    .b-404 {

      &__title {
        font-size: 24px;
        line-height: 30px;
      }

      &__404 {
        font-size: 130px;
        line-height: 130px;
      }
    }

    .b-factoid {
      float: none !important;
      width: auto !important;
      margin: 28px 0 32px 0 !important;
      padding: 0 20px 0 21px;
      position: relative;

      &:before {
        display: block;
        content: " ";
        width: 3px;
        background: @blue;
        position: absolute;
        top: 4px;
        bottom: 1px;
        left: 0;
      }

      &-block {
        padding-right: 0;
      }
    }

    .b-quote {
      padding-top: 92px;
      padding-right: 0;
      padding-left: 0;
      font-size: 18px;
      line-height: 26px;

      &__author {
        line-height: 20px;
      }
    }

    .b-article {

      &__wrap {
        padding: 0;
      }

      &__info {

        &__left, &__right {
          float: none;
          width: auto;
        }
      }

      &__content {

        &_nobanner {

          h3 {
            font-size: 20px;
            line-height: 25px;
          }
        }
      }

      &__info__right {
        margin-left: -28px;

        .ya-share2__item {
          margin-top: 5px !important;
        }

        &_circles {
          margin-top: 24px;
          margin-left: -13px;

          .ya-share2__item {
            margin-top: 0 !important;
            margin-bottom: 10px !important;
          }
        }
      }
    }
  }


  .b-article__wrap p a {
    
    display: inline;
    color:#007ea8;
    position: relative;

    &:before {
      position: absolute;
      width: 100%;
      border-bottom:1px solid rgba(0, 127, 168,0.302);
      content: '';
      top:24px;
    }


    &:hover {
      .link(#438AAB);
    }

    &:visited {
      .link(#869097);
    }


  }

  .b-article__wrap p + ol {
    margin-top:-10px;
  }


  .fuckAdBlock {
    background-image: url("../i/blockedban.jpg");
    background-repeat: no-repeat;
    /*background-size:contain; */
  }


  .fact {
    padding:30px 110px 0;
    color:@blue;
    clear: both;
    box-sizing: border-box;
    overflow: hidden;



    @media (max-width:1309px) {
      padding-left:75px;
      padding-right: 75px;
    }

    @media (max-width:739px) {
      padding-left:20px;
      padding-right:20px;
    }



    &_num * {
      text-align: center;

    }

    &_link {
      cursor: pointer;

      &:hover {
        color:@bluel;

        & .date {
          color:@bluel;
        }
      }
    }



    &__left {
      width:77%;
      float:left;

      @media (max-width:1309px) {
        width:68%;
      }

      @media (max-width:739px) {
        float:none;
        width:100%;
      }
    }

    &__right {
      width:23%;
      float:left;
      padding-left:10px; 
      overflow: hidden;
      box-sizing: border-box;

      @media (max-width:1309px) {
        width:32%;
      }

      @media (max-width:739px) {
        float:none;
        width:100%;
        padding-left:0;
      }


    }

    &__text {
      font-size: 24px;
      font-weight: normal;
      margin-top:10px;

      line-height: 1.167;


      @media (max-width:1309px) {
        font-size:20px;
      }

    }

    &__name {
      font-size: 18px;
      line-height: 1.111;
      margin-top:17px;


    }

    &__job {
      font-size: 16px;
      line-height: 1.25;
      font-weight: normal;

    }

    &__image {
      width: 90%;
      height: 90%;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin-top:15px;
      padding-top:90%;
      border:0 !important;
      box-sizing: border-box;
      clear: both;

      @media (max-width:739px) {
        width:90px;
        height:90px;
        padding:0;
      }


    }

    &__hand {
      margin-top:30px;
      text-align: center;

      svg {
        width:57px;
        fill:@blue;
        display: inline-block;

        .fact_link:hover & {
          fill:@bluel;
        }
      }

      .fact_quote & {
        @media (max-width:739px) {
          float:right;
          margin-top: -50px;
        }
      }




    }

    &__number {
      font-size: 67px;
      line-height: 1.1;
      min-height: 1px;
      overflow: hidden;
      margin-top: 5px;

      @media (max-width:739px) {
        font-size: 48px;
      }
    } 

    &__descr {
      font-weight: normal;
      margin-top: 10px;
      font-size: 15px;
      line-height: 1.333;
      padding:0 100px;

      @media (max-width:1309px) {
        padding:0 30px;
      }

    }


  }

  .fotorama {
    &_fact {
      margin:40px 30px 20px 0;
      background: #eff1f3;
      position: relative;

      @media (max-width:1309px) {
        margin:20px 30px 20px 0;
      }

      @media (max-width:1019px) {
        margin:20px 0;
      }

      &:before {
        @media (max-width:739px) {
          position: absolute;
          content:'';
          display: block;
          left:-20px;
          background: #eff1f3;
          height:100%;
          width:20px;
          z-index:-1;
          top:0;
        }
      }


      .fotorama__nav--dots {
        margin-bottom:20px;
      }

      .fotorama__nav__frame--dot {
        height:1px;
        background-color: rgb(147, 163, 176);
        width: 36px;
        border:none;
        border-radius: 0;
        margin:0 3px;

        &.fotorama__active {
          background: @blue;
        }



      }


      .fotorama__arr--prev:before {
        content:'←'; 
        margin-left:22px;

        @media (max-width:1309px) {
          margin-left: 15px;
        }

      }

      .fotorama__arr--next:before {
        content:'→';
        margin-left:-27px; 

        @media (max-width:1309px) {
          margin-left: -12px;
        }   
      }

      .fotorama__arr--next, .fotorama__arr--prev {
        background: none;
        color:@blue;

        &:before {
          display: block;
          font-size:35px;
          font-weight:normal;
          .ff-s;
          margin-top:10px;   
        }

        &:hover {
          color:@bluel;
        }

        @media (max-width:739px) {
          display: none !important;
        }
      }


    }
  }


  .fact-container {
    @media (max-width:739px) {
      width:~"calc(100% + 40px)";
      min-height: 1px;
      background: #eff1f3;
      margin-left:-20px;
      padding:0 20px;
      box-sizing: border-box;
    }
  }
