@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_0_0.eot");
  src: url("../fonts/320D2B_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_0_0.woff2") format("woff2"), url("../fonts/320D2B_0_0.woff") format("woff"), url("../fonts/320D2B_0_0.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_1_0.eot");
  src: url("../fonts/320D2B_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_1_0.woff2") format("woff2"), url("../fonts/320D2B_1_0.woff") format("woff"), url("../fonts/320D2B_1_0.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_2_0.eot");
  src: url("../fonts/320D2B_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_2_0.woff2") format("woff2"), url("../fonts/320D2B_2_0.woff") format("woff"), url("../fonts/320D2B_2_0.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Kazimir Text";
  src: url("../fonts/Kazimir Text-Regular-Web.eot");
  src: url("../fonts/Kazimir Text-Regular-Web.eot#iefix") format("embedded-opentype"), url("../fonts/Kazimir Text-Regular-Web.woff2") format("woff2"), url("../fonts/Kazimir Text-Regular-Web.woff") format("woff"), url("../fonts/Kazimir Text-Regular-Web.ttf") format("truetype"), url("../fonts/Kazimir Text-Regular-Web.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kazimir Text";
  src: url("../fonts/Kazimir Text-Bold-Web.eot");
  src: url("../fonts/Kazimir Text-Bold-Web.eot#iefix") format("embedded-opentype"), url("../fonts/Kazimir Text-Bold-Web.woff2") format("woff2"), url("../fonts/Kazimir Text-Bold-Web.woff") format("woff"), url("../fonts/Kazimir Text-Bold-Web.ttf") format("truetype"), url("../fonts/Kazimir Text-Bold-Web.svg#font") format("svg");
  font-weight: 700;
  font-style: normal;
}


.ff-s {
  font-family: "Kazimir Text", serif;
}


@red: #ee3b35;
@blue: #172a45;
@bluel: #008aad;
@gray: #9099a7;
@graybd: #bdc3cc;
@graybg: #eef0f2;
@grayvis: #6c727a;
@footbd: #525252;
@black: #262626;



* {
  color:@black;
  font-size:20px;
}

.b-quote {
  margin: 63px 0 59px 0;
  padding: 32px 40px 28px 68px;
  border-top: 3px solid @blue;
  border-bottom: 1px solid @graybd;
  font-size: 24px;
  line-height: 35px;
  position: relative;

  &:before {
    display: block;
    content: ",,";
    color: @gray;
    font-size: 165px;
    line-height: 30px;
    letter-spacing: -12px;
    position: absolute;
    top: -5px;
    left: -9px;
  }

  &__author {
    margin-top: 9px;
    font-size: 16px;
    line-height: 30px;

    b {
      font-weight: 900;
    }
  }
}

table thead {
  font-weight: bold;
}


a {
  color:@black;
  text-decoration: none;
  border-bottom:1px solid #bdc3cc;
  display: inline;

  &:hover {
    color:@bluel;
    border-color:#b2dce6;
  }
}


.b-article {

  &__important {
    font-size: 24px;
    line-height: 30px;
    border-bottom: 1px solid #bdc3cc;

  }
}

.ff-ss {
  font-family: "Museo Sans",sans-serif;
}

.b-factoid {
  margin: 28px 0 32px 0;
  padding: 0 20px 0 21px;
  position: relative;

  &:before {
    display: block;
    content: " ";
    width: 3px;
    background: @blue;
    position: absolute;
    top: 4px;
    bottom: 1px;
    left: 0;
  }

  &-block {
    padding-right: 141px;
  }

  &-block & {
    float: right;
    width: 200px;
    margin: -2px -0px 30px 40px;

    &:before {
      top: 3px;
      bottom: -3px;
    }
  }
}

.b-factoid {

  &-block .b-factoid {
    margin-top: 2px;
    margin-right: -102px;
    font-size: 16px;
    line-height: 24px;

    &:before {
      top: 1px;
      bottom: 0;
    }
  }
}

h2, h3 {
  font-family: "Museo Sans",sans-serif;
  font-weight: 900;
  font-size:35px;
}

h3 {
  font-size: 20px;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul, ol {
  margin-bottom: 30px;
  counter-reset: item;
  padding-left:0;
}

li {
  margin-top: 5px;
  padding-left: 18px;
  margin-left: 0;
}

li:before {
  display: inline-block;
  float: left;
  vertical-align: baseline;
  margin-left: -18px;
}

ul li:before {
  content: "\2014";
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
}


.b-article {

  &__important {
    font-size: 24px;
    line-height: 30px;
  }

  &__image {

    &_wide {
      margin-right: -120px;
      margin-left: -120px;
    }


    
  }

  &__image {
    margin-bottom: 44px;
    max-width: 680px;

    &_m {
      margin-bottom: 20px;
    }

    &_video {
      max-width:580px;
    }

    

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    

    .b-section__gallery {
      margin-top: 51px;
    }
  }

  &__important {
    margin: 51px 0 54px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid @graybd;
    font-size: 18px;
    line-height: 25px;

    &_m {
      margin-top: 0;
      padding-bottom: 7px;
      font-size: 16px;
      line-height: 25px;
    }
  }


  &__line {
      background-color: @blue;
      width:100%;
      clear: both;
      position: relative;
      height: 3px;
      margin: 80px 0 50px;

      &_arrow {
        &:before {
          display: block;
          width:30px;
          height:60px;
          background: #fff;
          content:'←';
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          font-size: 40px;
          .ff-s;
          color: @blue;
          position: absolute;
          top:-20px;
          left:0;
          right:0;
          margin:0 auto;
          box-sizing: border-box;
          padding-top: 3px;
          padding-left: 5px;
          text-align: center;


        }
      }

      &_num {
        &:before {
          display: block;
          top: -35px;
          left: 0px;
          right: 0;
          margin: 0 auto;
          content: '';
          position: absolute;
          width: 82px;
          height: 82px;
          background: #fff;


        }
      }

      &__num {
        background: #fff;
        font-size: 20px;
        .ff-s;
        color: @blue;
        text-align: center;
        position: absolute;
        top:-24px;
        left:0;
        right:0;
        margin:0 auto;
        border-width: 3px;
        border-color: @blue;
        border-style: solid;
        border-radius: 50%;
        font-weight: bold;
        box-sizing: border-box;
        padding-top: 9px;
        padding-left: 1px;
        width: 50px;
        height: 50px;

        @media (max-width:1309px) {
          padding-top:11px;
        }

        &:before {
          display: block;
          position: absolute;
          top:-10px;
          left:-10px;
          right:0;
          margin:0 auto;
          border-width: 1px;
          border-color: @blue;
          border-style: solid;
          border-radius: 50%;
          content: '';
          position: absolute;
          width: 62px;
          height: 62px;


        }

      }


    }
}


.b-section__text {
    padding: 14px 0 10px 0;
    border-bottom: 1px solid #bdc3cc;
    font-size: 12px !important;
    line-height: 15px;
    font-weight: 500;
}

.b-section__text__author {
    margin-top: 2px;
    color: #9099a7;
    font-size: 12px !important;
}

.b-section__text__descr {
    margin-bottom: 2px;
    font-size: 12px !important;
}


