@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_0_0.eot");
  src: url("../fonts/320D2B_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_0_0.woff2") format("woff2"), url("../fonts/320D2B_0_0.woff") format("woff"), url("../fonts/320D2B_0_0.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_1_0.eot");
  src: url("../fonts/320D2B_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_1_0.woff2") format("woff2"), url("../fonts/320D2B_1_0.woff") format("woff"), url("../fonts/320D2B_1_0.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/320D2B_2_0.eot");
  src: url("../fonts/320D2B_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/320D2B_2_0.woff2") format("woff2"), url("../fonts/320D2B_2_0.woff") format("woff"), url("../fonts/320D2B_2_0.ttf") format("truetype");
  font-weight: 900;
}

#ogDiv {
	box-sizing: border-box;
	padding:210px 156px 50px 75px;
	width:1200px;
	height:630px;
	background-color: #171c23;
	position: absolute;
  font-size: 52px;
  font-family: "Museo Sans";
  color: rgb(255, 255, 255);
  line-height: 1.1;
  text-align: left;
  font-weight:900;
  display: flex;
  flex-direction:column;
  letter-spacing: 0.03em;
  
}

#ogDiv.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#ogDiv.cover:before {
  display: block;
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  background-color: #171c23;
  opacity: 0.702;

}

#ogLogo {
  width:220px;
  height:50px;
  content: '';
  position: absolute;
  top:70px;	
}

#ogAppend img {
	max-width: 100%;
}

#ogLoading {
	margin-left:10px;
	display: none;
}

#wpbody {
	padding-bottom: 630px !important;
}

.hugeBody1500 {
  width:3000px !important;
}