#post_gallery .inside {
	overflow: hidden;
}

.gallery {

	&__container {
		clear:both;
		overflow: hidden;
	}

	&__item {
		background-color: #efefef;
		margin:10px 0;
		padding:20px;
		position: relative;
	}

	&__heading {
		font-size:16px;
		font-weight: bold;
	}

	&__code {
		font-family: Consolas,Monaco,monospace;
		opacity: 0.7;
		padding:5px 0 10px;
	}

	&__remove {
		position: absolute;
		top:0;
		right:0;
		color:red;
		cursor:pointer;
		padding:3px 7px;
		background: rgba(255,0,0,.1);

		&:hover {
			opacity: 0.7;
		}
	}

	&__add {
		margin:10px 0 !important;
		clear: both;
	}

	&__point {
		margin:20px 20px 20px 0;
		cursor:move;
		width:150px;
		height:150px;
		float: left;
		position: relative;
		border:2px solid #efefef;
	}


	&__image {
		max-width:100%;
		max-height:160px;
	}

	&__delete {
		margin-top:-10px;
		display: inline-block;
		padding:2px;
		width: 20px;
		height: 20px;
		background:#efefef;
		position: absolute;
		color:red;
		border-radius:50%;
		text-align: center;
		top:-6px;
		text-decoration: none;
		font-size: 20px;
		border:2px solid red;
		z-index:2;
		cursor: pointer;
		left: auto;
		right: -16px;

		&:hover {
			color:red;
			opacity: 0.6;
		}
	}

}